/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem; /* Increased padding */
}

.logo .header-logo-text {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0.5rem 1rem; /* Added padding */
}

nav .header-link-text {
    font-size: 20px; /* Increased font size */
    font-weight: 200; /* Bolder font weight */
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 1.5rem; /* Increased spacing between links */
}

    nav .header-link-text.active {
        color: #F9FAF8; /* Changed color for active link */
    }

    nav .header-link-text:hover {
        color: #F9FAF8;
    }